:root {
  --body-bg: #fddcd2;

  --header-bg: #201e1d;
  --header-text: #fab0d9;

  --main-bg: #fddcd2;
  --main-text: #201e1d;
  --main-title-bg: #fab0d9;

  --card-bg: #c9f091;
  --card-text: #201e1d;
}
