:root {
  --color-granite: hsla(263, 100%, 61%, 0.45);
  --color-nemo: hsl(16, 100%, 60%);
  --color-foam: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: var(--color-foam);
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

strong {
  color: var(--color-nemo);
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: 4px;
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-nemo);
}
