*,
*::before,
*::after {
  box-sizing: border-box;
}

<<<<<<< HEAD
=======
:root {
  --color-granite: hsla(263, 100%, 61%, 0.45);
  --color-nemo: hsl(16, 100%, 60%);
  --color-foam: hsl(0, 0%, 100%);
}

>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
<<<<<<< HEAD
  background: rgb(131 54 255/ 45%);
  
=======
  background: var(--color-granite);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
}

h1 {
  text-align: center;
<<<<<<< HEAD
  color: white;
=======
  color: var(--color-foam);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: 0.025em;
}

strong {
<<<<<<< HEAD
  color: #ff4a11;
=======
  color: var(--color-nemo);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
<<<<<<< HEAD
  background-color: #ff4a11ff;
  border-radius: 4px;
}

figcaption {
  color: rgb(255 255 255);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: 4px;
  background-color: hsl(14 100% 53%);
  color: #fff;
=======
  background-color: var(--color-nemo);
  color: var(--color-foam);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
}

a:hover,
a:focus-visible {
<<<<<<< HEAD
  background-color: #8336ff7b;
=======
  background-color: var(--color-granite);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
  text-decoration: none;
}

mark {
<<<<<<< HEAD
  background-color: rgb(255 74 17);
  color: #ffffff;
=======
  background-color: var(--color-nemo);
  color: var(--color-foam);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
  border-radius: 4px;
  letter-spacing: 0.025em;
}

::selection {
<<<<<<< HEAD
  background-color: #252629;
  color: #ff4a11;
=======
  background-color: var(--color-granite);
  color: var(--color-nemo);
>>>>>>> 55043f115e322a2756328c838f11a58fe1a03e81
}
